<extend name="Public/base" />
<block name="right">



    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        
        <div class="form-group">
            <label class="item-label">所属用户组<span class="check-tips"></span></label>
						<div class="controls">
							<select name="group_id" id="data-type" class="form-control input-mid">
								<option value="">----请选择----</option>
                                <volist name="grouplist" id="vo">
								<option value="{$vo.id}">{$vo.title}</option>
								</volist>
							</select>
						</div>
        </div>        
        <div class="form-group">
            <label class="item-label">标题<span class="check-tips"></span></label>
                <input type="text" class="form-control input-large" name="attr_title" value="{$data.attr_title}">
        </div>
         <div class="form-group">
            <label class="item-label">表单名字<span class="check-tips"></span></label>
                <input type="text" class="form-control input-large" name="attr_name" value="{$data.attr_name}">
        </div>
					<div class="form-group cl">
						<label class="item-label">表单类型<span class="check-tips">（用于表单中的展示方式）</span></label>
						<div class="controls">
							<select name="attr_type" id="data-type" class="form-control input-mid">
								<option value="">----请选择----</option>
                                <volist name=":get_attribute_type()" id="type">
								<option value="{$key}" rule="{$type[1]}">{$type[0]}</option>
								</volist>
							</select>
						</div>
					</div>
         					<div class="form-group cl">
						<label class="item-label">表单验证<span class="check-tips">（用于表单中数据的验证方式）</span></label>
						<div class="controls">
							<select name="attr_yanzheng" id="data-type" class="form-control input-mid">
								<option value="">----请选择----</option>
								<option value="number">数字</option>
								<option value="modile">手机号</option>
                                <option value="email">邮箱</option>
								<option value="qq">QQ号</option>
							</select>
						</div>
					</div>

        <div class="form-group">
        <a class="btn ajax-post btn-large">确 定</a>
			<a class="btn btn-warning btn-large" href="javascript:history.go(-1);">返 回</a>
            <input name="id" value="{$data.id}" type="hidden" />

        </div>
    </form>
    </block>

<block name="script">
<script>
$(function(){
	$('select[name="attr_yanzheng"]').val('{$data.attr_yanzheng}');
	$('select[name="attr_type"]').val('{$data.attr_type}');
	$('select[name="group_id"]').val('{$data.group_id}');
	});
</script>
</block>
