<extend name="Public:base" />
<block name="right">
<div class="module cl">
    <div class="main-title">
<h2>钩子列表</h2>
</div>
    
	<div class="row">
	  <div class="col-md-1">序号</div>
	  <div class="col-md-2">标识</div>
	  <div class="col-md-2">名称</div>  
	  <div class="col-md-2">描述</div>
	  <div class="col-md-1">类型</div>
	  <div class="col-md-4">操作</div>
	</div>
	<volist name="_list" id="vo">
	<div class="row">
	  <div class="col-md-1">{$key+1}</div>
	  <div class="col-md-2">{$vo.mark}</div>	
	  <div class="col-md-2">{$vo.name}</div>
	  <div class="col-md-2">{$vo.descr}</div>
	  <div class="col-md-1">
	  		  	<if condition="$vo.type neq 'system'">	
	  	自定义
	  		<else />
	  		系统钩子
	  		</if>	
	  </div>
	  <div class="col-md-4">
		  	<if condition="$vo.status eq '0'">
		  	<a  class="btn ajax-href" href='{:U('Hook/qiyong?id='.$vo['id'])}'>启用</a>
		  	<else />
		  	<a  class="btn btn-warning ajax-href" href='{:U('Hook/jinyong?id='.$vo['id'])}'>禁用</a>
		  	</if>
		  		  	
			<a  class="btn" href='{:U('Hook/manage?id='.$vo['id'])}'>管理</a>
			<if condition="$vo.type neq 'system'">	
			<a  class="btn btn-danger ajax-href-del" href='{:U('Hook/del?id='.$vo['id'])}'>删除</a>
			</if>
	  </div>
	</div>	

	</volist>
	<div class='row'>
		 <div class="col-md-12">{$_page}</div>
	</div>
	</div>
</block>
<block name="script">
	<script>
$(function(){
	$('.row:odd').css('background','#ededed');
});
</script>
</block>
