<extend name="Public/base" />
<block name="right">


	<div class="main-title">
<h2>导航管理</h2>
</div>
	<div class="row thead">
	  <div class="col-md-2">ID</div>
	  <div class="col-md-2">导航名称</div>
	  <div class="col-md-2">导航地址</div>  
	  <div class="col-md-2">排序</div>
	  <div class="col-md-4">操作</div>
	</div>
    <notempty name="list">
	<volist name="list" id="channel">
     <div class="row">
      <div class="col-md-2">{$channel['id']}</div>
      <div data-id="{$channel.id}" data-table="channel" data-field="title" class="col-md-2 input-msg">{$channel.title}</div>
      <div data-id="{$channel.id}" data-table="channel" data-field="url" class="col-md-2 input-msg">{$channel.url}</div>  
      <div data-id="{$channel.id}" data-table="channel" data-field="sort" class="col-md-2 input-msg">{$channel.sort}</div>
      <div class="col-md-4">
      <a class="btn btnprimary" title="编辑" href="{:U('edit?id='.$channel['id'].'&pid='.$pid)}">编辑</a>
      <a class="btn btn-danger ajax-href-del" title="删除" href="{:U('del?id='.$channel['id'])}">删除</a>
      </div>
    </div>
</volist>
<else/>
<div class="col-md-2"> aOh! 暂时还没有内容! </div>
</notempty>					


	
</block>

<block name="script">
<script type="text/javascript">
    $(function() {
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>