<extend name="Public/base" />
<block name="right">


	<script type="form-control/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>{:isset($info['id'])?'编辑':'新增'}分类</h2>
	</div>
	<div class="tab-wrap">
    		<ul class="tab-nav nav cl">
			<li data-tab="tab1" class="current tabnav"><a href="javascript:void(0);">基 础</a></li>
			<li data-tab="tab2" class="tabnav"><a href="javascript:void(0);">高 级</a></li>
		</ul>
		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-group">
						<label class="item-label">上级分类<span class="check-tips"></span></label>
						<div class="controls">
							<input type="form-control" class="form-control input-large" disabled="disabled" value="{$category['title']|default='无'}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">
							分类名称<span class="check-tips">（名称不能为空）</span>
						</label>
						<div class="controls">
							<input type="form-control" name="title" class="form-control input-large" value="{$info.title|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">
							分类标识<span class="check-tips">（英文字母）</span>
						</label>
						<div class="controls">
							<input type="form-control" name="name" class="form-control input-large" value="{$info.name|default=''}">
						</div>
					</div>
					
				<div class="form-group">
						<label class="item-label">
							发布内容<span class="check-tips">（是否允许发布内容）</span>
						</label>
						<div class="controls">
                        
						<div class="radio">	<label class="inline radio"><input type="radio" name="allow_publish" value="0">不允许</label></div>
							<div class="radio"><label class="inline radio"><input type="radio" name="allow_publish" value="1" checked>仅允许后台</label></div>
							<div class="radio"><label class="inline radio"><input type="radio" name="allow_publish" value="2" >允许前后台</label></div>
						</div>
					</div>
					<div class="form-group" style="display:none;">
						<label class="item-label">
							是否审核<span class="check-tips">（在该分类下发布的内容是否需要审核）</span>
						</label>
						<div class="controls">
							<div class="radio"><label class="inline radio"><input type="radio" name="check" value="0" checked>不需要</label></div>
							<div class="radio"><label class="inline radio"><input type="radio" name="check" value="1">需要</label></div>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">绑定文档模型<span class="check-tips">（分类支持发布的文档模型）</span></label>
						<div class="controls">
							<volist name=":get_document_model()" id="list">
							<div class="radio">	<label class="radio">
									<input type="radio" name="model" value="{$list.id}">{$list.title}
								</label></div>
							</volist>
						</div>
					</div>
                    <div class="form-group">
						<label class="item-label">导航显示</label>
						
							<input type="checkbox" name="nav_show" value="{$info['nav_show']}" />
						
					</div>
					<div class="form-group" style="display:none;">
						<label class="item-label">允许文档类型</label>
						<div class="controls">
							<volist name=":C('DOCUMENT_MODEL_TYPE')" id="type">
							<div class="radio">	<label class="radio">
									<input type="checkbox" name="type[]" value="{$key}">{$type}
								</label></div>
							</volist>
						</div>
					</div>				
					
					
					<div class="form-group">
						<label class="item-label">分类图标</label>
						<input type="file" id="upload_picture">
						<input type="hidden" name="icon" id="icon" value="{$info['icon']|default=''}"/>
						<div class="upload-img-box">
						<notempty name="info['icon']">
							<div class="upload-pre-item"><img src="__ROOT__{$info.icon|getPicture='path'}"/></div>
						</notempty>
						</div>
					</div>
                    <script src="__STATIC__/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
					<script>
					$(function(){
						//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadPicture,
				        'onFallback' : function() {
				            alert('未检测到兼容版本的Flash.');
				        }
				    });
						});
					
					function uploadPicture(file, data){
				    	var data = $.parseJSON(data);
				    	var src = '';
				        if(data.status){
				        	$("#icon").val(data.id);
				        	src = data.url || '__ROOT__' + data.path;
				        	$("#icon").parent().find('.upload-img-box').html(
				        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
				        	);
				        } else {
				        	topmsg(data);
				        	setTimeout(function(){
				                $('#top-alert').find('button').click();
				                $(that).removeClass('disabled').prop('disabled',false);
				            },1500);
				        }
				    }
					</script>
				</div>

				<!-- 高级 -->
				<div id="tab2" class="tab-pane tab2">
					
					

					<div class="form-group">
						<label class="item-label">
							排序<span class="check-tips">（仅对当前层级分类有效）</span>
						</label>
						<div class="controls">
							<input type="form-control" name="sort" class="form-control input-small" value="{$info.sort|default=0}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">
							列表行数
						</label>
						<div class="controls">
							<input type="form-control" name="list_row" class="form-control input-small" value="{$info.list_row|default=10}">
						</div>
					</div>

					<div class="form-group">
						<label class="item-label">网页标题</label>
						<div class="controls">
							<input type="form-control" name="meta_title" class="form-control input-large" value="{$info.meta_title|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">关键字</label>
						<div class="controls">
							<label class="form-controlarea input-large">
								<textarea class="form-control input-large" name="keywords">{$info.keywords|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">描述</label>
						<div class="controls">
							<label class="form-controlarea input-large">
								<textarea class="form-control input-large"  name="description">{$info.description|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">频道模板</label>
						<div class="controls">
							<input type="form-control" name="template_index" class="form-control input-large" value="{$info.template_index|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">列表模板</label>
						<div class="controls">
							<input type="form-control" name="template_lists" class="form-control input-large" value="{$info.template_lists|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">详情模板</label>
						<div class="controls">
							<input type="form-control" name="template_detail" class="form-control input-large" value="{$info.template_detail|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">编辑模板</label>
						<div class="controls">
							<input type="form-control" name="template_edit" class="form-control input-large" value="{$info.template_edit|default=''}">
						</div>
					</div>
				</div>

				<div class="form-group">
					<input type="hidden" name="id" value="{$info.id|default=''}">
					<input type="hidden" name="pid" value="{:isset($category['id'])?$category['id']:$info['pid']}">
					<a  class="btn ajax-post" >确 定</a>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
            </div>
		</div>
	</div>
</block>

<block name="script">

<script>

		
$(function(){
		<present name="info.id">
			/* 设置表单的值 */

		ThinksetValue("allow_publish", {$info.allow_publish|default=1});
		ThinksetValue("check", {$info.check|default=0});
		ThinksetValue("model", {$info.model.0});
		ThinksetValue("type[]", {$info.type|json_encode} || [2]);
		ThinksetValue("display", {$info.display|default=1});
		ThinksetValue("reply", {$info.reply|default=0});
		ThinksetValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
		</present>
//使用方法
$('.tab-wrap').mytab({		'ev':'click',
							'navcls':'.tabnav',//默认导航类
							'divcls':'.tab-pane',//默认内容块
                            'navhovercls':'current',//nav显示时候拥有的类
                            'divshowcls':'d1'//div显示的时候拥有的类
});


			//导航显示选择操作
			$('input[name="nav_show"]').bind('click',function(){
				var a=$(this).is(':checked');
				if(a){$(this).val(1);}else{$(this).val(0);}
				});
			//初始化多选框
			$('input[name="nav_show"]').each(function(index, element) {
                if($(this).val()=='1'){
					$(this).attr('checked',true);
					}
            });

});
</script>

</block>
