<volist name="tree" id="list">
	<dl class="cate-item">
		<dt class="cl">
			<form action="{:U('edit')}" method="post" class="cl">
				<div class="btn-toolbar opt-btn cl">
					<a title="编辑" class="btn btn-primary" href="{:U('edit?id='.$list['id'].'&pid='.$list['pid'])}">编辑</a>
					<a title="删除" href="{:U('remove?id='.$list['id'])}" class="btn btn-danger ajax-href-del">删除</a>
				</div>
				<div class="fold"><i></i></div>
				<div class="order"><input type="hidden" name="sort" class="form-control input-small  ajax-post-blur-noreload" value="{$list.sort}">
                <span data-id="{$list.id}" data-table="category" data-field="sort" class="input-msg">{$list.sort}</span></div>
				<div class="order">
                					 <input type="hidden" name="status" class="" value="{$list.status}">
                     <span data-id="{$list.id}" data-table="category" data-field="status" class="input-msg">{$list.status}</span>
                </div>
         		<div class="order">
                		<input style="margin-top:12px;" type="checkbox" name="nav_show" class="" value="{$list.nav_show}">
                </div>
				<div class="name">
					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$list.id}">
					<input type="text" name="title" class="form-control   ajax-post-blur-noreload" value="{$list.title}">
					<a class="add-sub-cate" title="添加子分类" href="{:U('add?pid='.$list['id'])}">
						<i class="icon-add"></i>
					</a>
					<span class="help-inline msg"></span>
				</div>
			</form>
		</dt>
		<notempty name="list['_']">
			<dd>
				{:R('Category/tree', array($list['_']))}
			</dd>
		</notempty>
	</dl>
</volist>