<block name="left">
<dl id="menu_manage" class="menu">
    <dt class="menu_title"><i class="icon_menu manage icofolder"></i><i class="icon_menu_switch"></i><b>个人中心</b></dt>
   <dd id="menu_message" class="menu_item selected"><a href="{:U('Article/mydocument')}">所有文档</a></dd>
   <dd id="menu_message" class="menu_item"><a href="{:U('Article/draftbox')}">草稿箱</a></dd>   
   <dd id="menu_message" class="menu_item"><a href="{:U('Article/examine')}">审核</a></dd>   
  </dl>
  <volist name="tree" id="vo">
  <notempty name="vo">
  	<dl id="menu_manage" class="menu closed">
    <dt class="menu_title">
    <empty name="vo._">
    <i class="icon_menu manage icofiles"></i><i class="icon_menu_switch"></i><b>
    <a href="{:U('Article/index?cat_id='.$vo['id'])}">{$vo.title}</a>
    <else />
    <i class="icon_menu manage icofolder"></i><i class="icon_menu_switch"></i><b>
    
    {$vo.title}
    </empty>
    
    
    </b></dt>
   <volist name="vo._" id="voo">
   		<dd id="menu_message" class="menu_item"><a href="{:U('Article/index?catid='.$voo['id'])}">{$voo.title}</a></dd>
   </volist>   
  </dl>
  </notempty>
  </volist>
</block>
