<block name="left">
  <volist name="__MENU__.groups" id="vo">
  <notempty name="vo">
  	<dl id="menu_manage" class="menu closed">
    <dt class="menu_title"><i class="icon_menu manage icofolder"></i><i class="icon_menu_switch"></i><b>{$vo}</b></dt>
   <volist name="__MENU__.child" id="voo">
   		<if condition="$voo.group eq $vo">
   		<dd id="menu_message" class="menu_item"><a href="{$voo.url|U}">{$voo.title}</a></dd>
   		</if>
   </volist>   
  </dl>
  </notempty>
  </volist>
    <!--输出没有分组的菜单-->
    <volist name="__MENU__.child" id="voo">
   		<if condition="$voo.group eq ''">
        <dt class="menu_title"><b><a href="{$voo.url|U}">{$voo.title}</a></b></dt>
   		</if>
   </volist>  
</block>
