
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>欢迎您登录爱你酷管理平台</title>
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
        <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
    </head>
    <body id="login-page">
        <div id="main-content">

            <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr">
                    <form action="/admin.php?s=/public/login.html" method="post" class="login-form">
                        <h3 class="welcome"><i class="login-logo"></i>爱你酷管理平台</h3>
                        <div id="itemBox" class="item-box">
                            <div class="item">
                                <i class="icon-login-user"></i>
                                <input type="text" name="username" placeholder="请填写用户名" autocomplete="off" />
                            </div>
                            <span class="placeholder_copy placeholder_un">请填写用户名</span>
                            <div class="item b0">
                                <i class="icon-login-pwd"></i>
                                <input type="password" name="password" placeholder="请填写密码" autocomplete="off" />
                            </div>
                            <span class="placeholder_copy placeholder_pwd">请填写密码</span>
                            <div class="item verifycode">
                                <i class="icon-login-verifycode"></i>
                                <input type="text" name="verify" placeholder="请填写验证码" autocomplete="off">
                                <a class="reloadverify" title="换一张" href="javascript:void(0)">换一张？</a>
                            </div>
                            <span class="placeholder_copy placeholder_check">请填写验证码</span>
                            <div>
                                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('public/verify')}">
                            </div>
                        </div>
                        <div class="login_btn_panel">
                            <button class="login-btn ajax-post" type="submit">
                                <span class="in"><i class="icon-loading"></i>登 录 中 ...</span>
                                <span class="on">登 录</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="__STATIC__/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/common.js"></script>
    <script>
	$(function(){
		$('.verifyimg').bind('click',function(){
			$(this).attr('src','{:U('public/verify')}'+'?random='+Math.random());
			});

		});
	function _before_post(){
		$('.on').hide();
		$('.in').show();
		}
	function _after_post(){
		$('.verifyimg').click();
		$('.on').show();
		$('.in').hide();
		}
	</script>
</body>
</html>