<extend name="Public/base" />
<block name="right">


	<div class="main-title cf">
		<h2>{$info['id']?'编辑':'新增'} [{:get_model_by_id($info['model_id'])}] 属性 : <a href="{:U('index','model_id='.$info['model_id'])}">返回列表</a></h2>
	</div>

	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<ul class="tab-nav nav cl">
			<li data-tab="tab1" class="current tabnav"><a href="javascript:void(0);">基 础</a></li>
			<li data-tab="tab2" class="tabnav"><a href="javascript:void(0);">高 级</a></li>
		</ul>
		<div class="tab-content">
			<!-- 表单 -->
			<form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-group cl">
						<label class="item-label">字段名<span class="check-tips">（请输入字段名 英文字母开头，长度不超过30）</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="name" value="{$info.name}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">字段标题<span class="check-tips">（请输入字段标题，用于表单显示）</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="title" value="{$info.title}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">字段类型<span class="check-tips">（用于表单中的展示方式）</span></label>
						<div class="controls">
							<select name="type" id="data-type">
								<option value="">----请选择----</option>
								<volist name=":get_attribute_type()" id="type">
								<option value="{$key}" rule="{$type[1]}">{$type[0]}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">字段定义<span class="check-tips">（字段属性的sql表示）</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="field" value="{$info.field}" id="data-field">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">参数<span class="check-tips">（布尔、枚举、多选字段类型的定义数据,当为自定义表单时,参数表示为CustomWidget类的一个函数名）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="extra">{$info.extra}</textarea>
							</label>
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">默认值<span class="check-tips">（字段的默认值）</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="value" value="{$info.value}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">字段备注<span class="check-tips">(用于表单中的提示)</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="remark" value="{$info.remark}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">是否显示<span class="check-tips">（是否显示在表单中）</span></label>
						<div class="controls">
							<select name="is_show" class="form-control input-mid">
								<option value="1">始终显示</option>
								<option value="2">新增显示</option>
								<option value="3">编辑显示</option>
								<option value="0">不显示</option>
							</select>
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">是否必填<span class="check-tips">（用于自动验证）</span></label>
						<div class="controls">
							<select name="is_must" class="form-control input-mid">
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>
					</div>
                    </div>
                <div id="tab2" class="tab-pane tab2">
					<div class="form-group cl">
						<label class="item-label">验证方式<span class="check-tips"></span></label>
						<div class="controls">
							<select name="validate_type" class="form-control input-mid">
								<option value="regex">正则验证</option>
								<option value="function">函数验证</option>
								<option value="unique">唯一验证</option>
								<option value="length">长度验证</option>
                                <option value="in">验证在范围内</option>
                                <option value="notin">验证不在范围内</option>
                                <option value="between">区间验证</option>
                                <option value="notbetween">不在区间验证</option>
							</select>
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">验证规则<span class="check-tips">（根据验证方式定义相关验证规则）</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="validate_rule" value="{$info.validate_rule}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">出错提示<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="error_info" value="{$info.error_info}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">验证时间<span class="check-tips"></span></label>
						<div class="controls">
							<select name="validate_time" class="form-control input-mid">
                                <option value="3">始 终</option>
								<option value="1">新 增</option>
								<option value="2">编 辑</option>
								</select>
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">自动完成方式<span class="check-tips"></span></label>
						<div class="controls">
							<select name="auto_type" class="form-control input-mid">
								<option value="function">函数</option>
								<option value="field">字段</option>
								<option value="string">字符串</option>
							</select>
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">自动完成规则<span class="check-tips">（根据完成方式订阅相关规则）</span></label>
						<div class="controls">
							<input type="text" class="form-control input-large" name="auto_rule" value="{$info.auto_rule}">
						</div>
					</div>
					<div class="form-group cl">
						<label class="item-label">自动完成时间<span class="check-tips"></span></label>
						<div class="controls">
							<select name="auto_time" class="form-control input-mid">
								<option value="3">始 终</option>
								<option value="1">新 增</option>
								<option value="2">编 辑</option>
							</select>
						</div>
					</div>
				</div>

				<!-- 按钮 -->
				<div class="form-group cl">
					<label class="item-label"></label>
					<div class="controls edit_sort_btn">
						<input type="hidden" name="id" value="{$info['id']}"/>
						<input type="hidden" name="model_id" value="{$info['model_id']}"/>
						<button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
$(function(){
	<notempty name="info.type">
//设置默认值
$('select[name="type"]').val('{$info.type}');
$('select[name="is_show"]').val('{$info.is_show}');
$('select[name="is_must"]').val('{$info.is_must}');
$('select[name="validate_type"]').val('{$info.validate_type}');
$('select[name="validate_time"]').val('{$info.validate_time}');
$('select[name="auto_type"]').val('{$info.auto_type}');
$('select[name="auto_time"]').val('{$info.auto_time}');
</notempty>

	$('#data-type').change(function(){
		$('#data-field').val($(this).find('option:selected').attr('rule'));
	});
//使用方法
$('.tab-wrap').mytab({		'ev':'click',
							'navcls':'.tabnav',//默认导航类
							'divcls':'.tab-pane',//默认内容块
                            'navhovercls':'current',//nav显示时候拥有的类
                            'divshowcls':'d1'//div显示的时候拥有的类
});	
	});

</script>
</block>

