<extend name="Public:base" />
<block name="right">
<div class="module cl">
    <div class="main-title">
<h2>用户组</h2>
</div>
        
	<div class="row thead">
	  <div class="col-md-3">序号</div>
	  <div class="col-md-3">组名称</div>
	  <div class="col-md-3">状态</div>  
	  <div class="col-md-3">操作</div>
	</div>
    
    <volist name="_list" id="vo">
    <div class="row">
	  <div class="col-md-3">{$key+1}</div>
	  <div class="col-md-3">{$vo.title}</div>
	  <div class="col-md-3">{$vo.status|totext}</div>  
	  <div class="col-md-3">
      <a href="{:U('MemberGroup/edit?id='.$vo['id'])}" class="btn btn-primary">编辑</a>
      <a href="{:U('MemberGroup/del?id='.$vo['id'])}" class="btn btn-danger ajax-href-del">删除</a>
      </div>
	</div>
    </volist>
    </div>
</block>
<block name="script">
<script>
$(function(){
	$('.row:odd').css('background','#ededed');
	});
</script>
</block>