<extend name="Public:base" />
<block name="right">
<div class="module cl">
    <div class="main-title">
<h2>用户列表</h2>
</div>
    <form action="{:U()}" method="post" class="form-horizontal">
    
                    <div class="form-group">
            <label class="item-label">用户组<span class="check-tips"></span></label>
                <select name="groupid" class="form-control input-mid">
                <volist name="list" id="vo">
                	<option value="{$vo.id}">{$vo.title}</option>
                </volist>
                </select>
        </div>
        
        
        <div class="form-group">
            <label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>

                <input type="text" class="form-control input-large" name="username" value="">

        </div>
        <div class="form-group">
            <label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>

                <input type="password" class="form-control input-large" name="password" value="">

        </div>
        <div class="form-group">
            <label class="item-label">确认密码</label>

                <input type="password" class="form-control input-large" name="repassword" value="">

        </div>
        
        <div class="form-group">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>

                <input type="text" class="form-control input-large" name="email" value="">

        </div>
        

        
        <div class="form-group">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <input name="qx" value="1" type="hidden" />
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</div>
</block>