<extend name="Public:base" />
<block name="right">
<div class="module cl">
<div class="main-title">
		<h2>
		用户列表
		</h2>
	</div>
	<div class="row thead">
	  <div class="col-md-1">ID</div>
	  <div class="col-md-1">用户名</div>
	  <div class="col-md-1">用户组</div>  
	  <div class="col-md-1">登陆次数</div>
      <div class="col-md-1">状态</div>
	  <div class="col-md-2">最后登陆时间</div>
	  <div class="col-md-2">最后登陆ip</div>
      <div class="col-md-3">操作</div>
	</div>
    <volist name="_list" id="vo">
    <div class="row">
	  <div class="col-md-1">{$key+1}</div>
	  <div class="col-md-1">{$vo.username}</div>
	  <div class="col-md-1">{$vo.groupid|getMemberGroup}</div>  
	  <div class="col-md-1">{$vo.login}</div>
      <div class="col-md-1">{$vo.status|totext}</div>
	  <div class="col-md-2">{$vo.last_login_time|date='Y/m/d H:m:s',###}</div>
	  <div class="col-md-2">{$vo.last_login_ip}</div>
      <div class="col-md-3">
      <a href="{:U('Member/edit?id='.$vo['id'])}" class="btn btn-primary">编辑</a>
      <neq name="vo.username" value="admin">
       <a href="{:U('Member/del?id='.$vo['id'])}" class="btn btn-danger ajax-href-del">移到回收站</a>
      </neq>
      </div>
	</div>
    </volist>
</div>
</block>
<block name="script">
<script>
$(function(){
	$('.row:odd').css('background','#ededed');
	});
</script>
</block>